.img {
    background-image: url(/src/assestes/Loading/cow.gif);
    background-size: contain;
    background-repeat: no-repeat;
    height: 227px;
    width: 312px;
    margin-left: 40%;
    z-index: 5;
    filter: drop-shadow(1px 1px 11px white);
}

.center {
    position: relative;
    height: 630px;
    width: 100%;
    overflow: hidden;
    background: linear-gradient(to bottom, white 28%, green 30%);
    transition: all ease-in-out 2s;
    /* animation: dim 3s ease-in-out 0s 1 forwards ; */
}

@keyframes dim {
    100% {
        /* transform: translateY(500px); */
        opacity: 0;
        display: none;
    }
}

.center h1 {
    text-align: center;
    color: white;
    animation: bounce 3s ease-in-out 0s infinite;
}


@keyframes bounce {
    50% {
        transform: translateY(+60px);
    }
}

.well {
    height: 150px;
    width: 173px;
    background: linear-gradient(to bottom, brown 40%, green 30%);
    position: absolute;
    left: 46%;
    z-index: 10;
    top: 24%;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

@media (max-width:430px) {
    .center {
        position: relative;
        height: 630px;
        width: 100%;
        overflow-y: hidden;
        transition: all ease-in-out 2s;
    }

    .img {
        margin-left: auto;
    }

    h1 {
        font-size: x-large;
    }
}

@media (min-width:431px) {
    .well {
        left: 50%;
    }
}
