@media (prefers-color-scheme: light) {
    :root {
        --bg-color: white;
        --bg-radial: radial-gradient(circle, white, skyblue);
        --bg-other: var(--bg-radial);
        --text-color: black;
        --text-higlight: #0F5298;
        --proj-color: linear-gradient(to right, white, skyblue, white);
        --skill-bg: white;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: black;
        --text-color: white;
        --bg-radial: radial-gradient(circle,navy , black);
        --bg-other: var(--bg-radial);
        --text-higlight: #12ff00;
        --skill-bg: #2a2a2a;
    }
}

@media (max-width:430px) or (max-height:430px) {
    @media(prefers-color-scheme: dark) {
        :root {
            --bg-color: #3D2B1F;
            --text-color: white;
            --bg-radial: linear-gradient(to bottom, #2B1B17, #3D2022, #2B1B17);
            --bg-other: var(--bg-radial);
            --text-higlight: #EaD66B;
            --skill-bg: #3D2B1F;
        }
    }
    @media (prefers-color-scheme: light) {
    :root {
        --bg-color: white;
        --bg-radial: radial-gradient(circle, white, skyblue);
        --bg-other: var(--bg-radial);
        --text-color: black;
        --text-higlight: #0F5298;
        --proj-color: linear-gradient(to right, white, skyblue, white);
        --skill-bg: white;
    }
    }
}
