    :root {
        --bg-color: black;
        --text-color: white;
        --bg-radial: radial-gradient(circle, navy, black);
        --bg-other: var(--bg-radial);
        --text-higlight: #12ff00;
        --skill-bg: #2a2a2a;
    }